body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: dufont-light;
	color: $fontColor;
}
html {height: 100%;}

/* Defaults */
.clearfix {display: block; clear: both;}
.img-full {img{width: 100%;}}
.alpha {padding-left: 0px;}
.omega {padding-right: 0px;}
.show-mobile {display: none;}
.hide-mobile {display: block;}
.col-center {float: none; margin: auto;}
h1,h2,h3,h4,h5,p {margin: 0;}
h2 {font-size: 35px;}
h3 {font-weight: 400; margin-bottom: 10px; font-size: 20px;}
a{&:focus,&:hover {outline: none; text-decoration: none;}}
input {-webkit-appearance:none;}
.pinkFont {color: $fontColor;}
.baseFont {color: $baseColor;}


@media screen and (max-width: 786px){
	h2 {font-size: 22px;}
	h3 {font-size: 18px;}
}

@include font-face('dufont-bold', 'duCo_WHeadline16_Bd', 'english', '.ttf','bold');
@include font-face('dufont-light', 'duCo_WHeadline16_Lt', 'english', '.ttf','light');
@include font-face('dufont-reg', 'duCo_WHeadline16_Rg', 'english', '.ttf','regular');
